

<%- include("header")-%>
  <div class="box" id="heading">
    <h1><%=listTitle%></h1>
  </div>
  <div class="box">
    <% for(var i=0;i<newitems.length;i++){%>
    <div class="item">
      <input type="checkbox">
      <p><%=newitems[i]%></p>
    </div>
    <%}%>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="enter item" autocomplete="off">
      <button type="submit" name="button" value=<%=listTitle %> >+</button>
    </form>
    </div>

    <%- include("footer")-%>
